<?xml version="1.0"?>
<config>
    <modules>
        <Idev_PaypalRegister>
            <version>0.1.0</version>
        </Idev_PaypalRegister>
    </modules>
    <global>
        <models>
            <paypalregister>
                <class>Idev_PaypalRegister_Model</class>
            </paypalregister>
            <sales>
                <rewrite>
                    <service_quote>Idev_PaypalRegister_Model_Sales_Service_Quote</service_quote>
                </rewrite>
            </sales>
        </models>
    </global>
    <frontend>
        <events>
            <paypalregister_save_order_before>
                <observers>
                    <paypalregister_observer>
                        <type>model</type>
                        <class>Idev_PaypalRegister_Model_Observer</class>
                        <method>salesOrderBeforeSave</method>
                    </paypalregister_observer>
                </observers>
            </paypalregister_save_order_before>
            <sales_model_service_quote_submit_after>
                <observers>
                    <paypalregister_observer>
                        <type>singleton</type>
                        <class>Idev_PaypalRegister_Model_Observer</class>
                        <method>saveOrderAfter</method>
                    </paypalregister_observer>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
        <translate>
            <modules>
                <Idev_PaypalRegister>
                    <files>
                        <default>Idev_PaypalRegister.csv</default>
                    </files>
                </Idev_PaypalRegister>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <paypalregister>
                                            <title>PaypalRegister section</title>
                                        </paypalregister>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <PaypalRegister>
            <general>
                <enable_paypalregister>0</enable_paypalregister>
            </general>
        </PaypalRegister>
    </default>
</config>
